.nav_navigation {
  display: flex;
  gap: 20px;
}
.swiperButtonPrev,
.swiperButtonNext {
  border: none;
  background-color: transparent;
  cursor: pointer;

  & svg:hover {
    fill: rgb(240, 239, 239);
  }
}

.swiperButtonPrev_disabled,
.swiperButtonNext_disabled {
  opacity: 0.5;
  border: none;
  background-color: transparent;
}
