.wrapper {
	display: flex;
	gap: 125px;
	justify-content: center;
}

.firstYear,
.secondYear {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 200px;
	line-height: 80%;
	letter-spacing: -0.02em;
	text-align: center;
}

.firstYear {
	color: #5d5fef;
}

.secondYear {
	color: #ef5da8;
}

.factsWrapper {
	color: red;
	font-size: 30px;
	margin-top: 100px;
}
