:root {
  --font-family: 'PT Sans', sans-serif;
  --second-family: 'Bebas Neue', sans-serif;
  --swiper-pagination-bullet-width: 6px;
  --swiper-pagination-bullet-height: 6px;
  --swiper-pagination-bullet-inactive-color: #42567a;
  --swiper-theme-color: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* overflow: hidden; */
  min-height: 100%;
}
body {
  background: rgb(229, 229, 229);
  font-family: var(--font-family);
  font-size: 14px;
  color: rgb(66, 86, 122);
  /* overflow: hidden; */
  min-height: 100%;
}

.swiper-pagination-bullet {
}

.swiper-pagination-bullet-active {
  width: 56px !important;
  height: 56px !important;
  background-color: transparent !important;
  border: 1px solid rgba(48, 62, 88, 0.5);
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
